* {
    margin: 0;
    padding: 0;
  }

  body {
    background:linear-gradient( #000428 , #004e92,#9199e1);
    text-align: center;
    margin-bottom: 4.5rem;
    
    
  }

  .container {
    height: 70vh;
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;

    

 }

  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    font-size: 8vmin;
    color:green;
    background-color:#004e92;
    border: ridge black 1px;
    
    
    
  }

  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color:  rgb(10, 164, 10);
    color: #fff;
    border-radius: 1rem;
    border: none;
    margin-top: 1.5rem;
  }

  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(10, 164, 10);
    color: #fff;
    border-radius: 1rem;
    border: none;
  }

  #msg {
    color:whitesmoke;
    font-size: 10vmin;
    font-family: Arial, Helvetica, sans-serif;
  }

  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }

  .hide {
    display: none;
  }
  #reset-btn:hover{

           box-shadow:#03495d 0px 5px 15px 2px; 
  }

  #new-btn:hover{

          box-shadow:#1ba4ca 0px 5px 15px 2px; 
  }
   h1{
      color: #f2f2f2;
      margin: 1rem 1rem -1rem 1rem;
  }
